/* colors */


//{
//  al:   #00000000;
//  bg:   #272727FF;
//  bga:  #383838FF;
//  fga:  #CACACAFF;
//  fg:   #CACACAFF;
//  ac:   #1e88e5FF;
// }
// */

*{
 al:  #00000000;
 bg:  #D8DEE9;
 bga: #eceff4;
 fga: #4C566A;
 fg:  #4C566A;
 ac:   #1e88e5FF;
}

